[submodule "automatic/cyberghost/tools/helpers"]
	path = automatic/cyberghost/tools/helpers
	url = git@github.com:criography/chocolatey-helpers.git
[submodule "automatic/color-quantizer/tools/helpers"]
	path = automatic/color-quantizer/tools/helpers
	url = git@github.com:criography/chocolatey-helpers.git
[submodule "automatic/garmin-express/tools/helpers"]
	path = automatic/garmin-express/tools/helpers
	url = git@github.com:criography/chocolatey-helpers.git
[submodule "automatic/garmin-basecamp/tools/helpers"]
	path = automatic/garmin-basecamp/tools/helpers
	url = git@github.com:criography/chocolatey-helpers.git
[submodule "automatic/uplay/tools/helpers"]
	path = automatic/uplay/tools/helpers
	url = git@github.com:criography/chocolatey-helpers.git
[submodule "automatic/xyplorer/tools/helpers"]
	path = automatic/xyplorer/tools/helpers
	url = git@github.com:criography/chocolatey-helpers.git
[submodule "automatic/cheat-engine/tools/helpers"]
	path = automatic/cheat-engine/tools/helpers
	url = git@github.com:criography/chocolatey-helpers.git
[submodule "automatic/hdsentinel/tools/helpers"]
	path = automatic/hdsentinel/tools/helpers
	url = git@github.com:criography/chocolatey-helpers.git
[submodule "automatic/bitmeter2/tools/helpers"]
	path = automatic/bitmeter2/tools/helpers
	url = git@github.com:criography/chocolatey-helpers.git
[submodule "automatic/casperjs/tools/helpers"]
	path = automatic/casperjs/tools/helpers
	url = git@github.com:criography/chocolatey-helpers.git
[submodule "automatic/svgo-gui/tools/helpers"]
	path = automatic/svgo-gui/tools/helpers
	url = git@github.com:criography/chocolatey-helpers.git
[submodule "automatic/exiftoolgui.internal/tools/helpers"]
	path = automatic/exiftoolgui.internal/tools/helpers
	url = git@github.com:criography/chocolatey-helpers.git
